@import "tailwindcss";

@theme {
  --font-logo: 'Wix Madefor Display', sans-serif;
  --color-accent: #4675eb;
  --color-secondary: #fc77d9;
}


/* Clear; TEMP DISABLE: messes up Tailwind's base styles 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/